footer.footer
  .footer-container
    .footer-col
      h3.footer-font-color Về chúng tôi
      p.footer-font-color Trang web học tập và chia sẻ kiến thức.
    .footer-col
      h3.footer-font-color Liên kết
      ul
        li
          a(href="#") Trang chủ
        li
          a(href="#") Khóa học
        li
          a(href="#") Liên hệ
        li
          a(href="#") Điều khoản
    .footer-col
      h3.footer-font-color Liên hệ
      p.footer-font-color Email: contact@example.com
      p.footer-font-color Điện thoại: 0123 456 789
  .footer-bottom
    p.footer-font-color © 2025 Bản quyền thuộc về <strong>Tên Website</strong>