*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    color: #000;
}

.course-detail{
    display: flex;
    flex-wrap: wrap;
}

.container-left{
    width: 50%;
    padding: 20px;
}

.container-right{
    width: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.course-title{
    font: inherit;
    vertical-align: baseline;
    margin-top: 16px;
    font-size: 2.2rem;
    font-weight: 700;
    min-height: 33px;
}

.course-note, .knowledge-item{
    margin-top: 16px;
    line-height: 1.6;
    font-size: 0.9rem;
    color: #000c;
}

.knowledge-tile, .content-title{
    margin-top: 16px;
    font-size: 1.8rem;
    font-weight: 700;
}

.knowledge-list{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.contant-total-lesson{
    margin: 16px 0;
    font-size: 0.8rem;
    color: #000c;
}

.right-img{
    width: 500px;
    height: 250px;
    border-radius: 12px;
    margin: 16px 0 20px 16px;
}
.right-price{
    font-size: 32px;
    font-weight: 400;
    color:   #fd7e14;
    margin: 0 auto 16px;
    opacity: .8;
}

@media (max-width: 768px){
    .course-detail{
        display: block;
    }
    .container-left{
        width: 100%;
    }
    .container-right{
        width: 100%;
    }
    .container-card-list{
        display: none;
    }
}