.overlay {
      display: none;
      position: fixed;
      top: 0; left: 0;
      width: 100vw; height: 100vh;
      background: rgba(0, 0, 0, 0.5);
      justify-content: center;
      align-items: center;
      z-index: 999;
    }

    /* Khung popup */
    .auth-container {
      background: white;
      padding: 30px;
      width: 400px;
      border-radius: 10px;
      box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
      position: relative;
    }

    .auth-tabs {
      display: flex;
      margin-bottom: 20px;
    }

    .auth-tabs button {
      flex: 1;
      padding: 10px;
      background: #ecf0f1;
      border: none;
      cursor: pointer;
      font-weight: bold;
      transition: 0.3s;
    }

    .auth-tabs button.active {
      background: #3498db;
      color: white;
    }

    .auth-form {
      display: none;
    }

    .auth-form.active {
      display: block;
    }

    input {
      width: 100%;
      padding: 10px;
      margin: 8px 0;
      border-radius: 5px;
      border: 1px solid #ccc;
    }

    .auth-form button {
      width: 100%;
      padding: 10px;
      background: #3498db;
      color: white;
      border: none;
      border-radius: 5px;
      font-weight: bold;
      margin-top: 10px;
      cursor: pointer;
    }

    .auth-form button:hover {
      background: #2980b9;
    }

    /* Nút đóng */
    .close-btn {
      position: absolute;
      top: 10px;
      right: 15px;
      font-size: 20px;
      cursor: pointer;
      color: #aaa;
    }

    .close-btn:hover {
      color: #000;
    }

    .gg-onload{
        margin: 12px 0;
    }